﻿@model MesswertVerwaltung.Models.Messwerte

@{
  ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  <h4>Messwerte</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Messwerttypen.Messwerttypname)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Messwerttypen.Messwerttypname)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Sensorname)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Sensorname)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Datum)
     @Model.Datum.ToString("hh:mm:ss")
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Datum)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Messwert)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Messwert)
    </dd>

  </dl>

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
      <input type="submit" value="Delete" class="btn btn-default" /> |
      @Html.ActionLink("Back to List", "Index")
    </div>
  }
</div>
