﻿@model MesswertVerwaltung.Models.Messwerte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Messwerte</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Messwerttypen.Messwerttypname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messwerttypen.Messwerttypname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sensorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sensorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messwert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messwert)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
