﻿@model MesswertVerwaltung.Models.Messwerte

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Messwerte</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Messwerttypen.Messwerttypname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MesswerttypenId", String.Empty)
                @Html.ValidationMessageFor(model => model.MesswerttypenId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sensorname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sensorname)
                @Html.ValidationMessageFor(model => model.Sensorname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Datum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datum)
              <input type="time" name="time" />
                @Html.ValidationMessageFor(model => model.Datum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Messwert, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Messwert)
                @Html.ValidationMessageFor(model => model.Messwert)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
