﻿@model IEnumerable<MesswertVerwaltung.Models.Messwerte>

@{
  ViewBag.Title = "Index";
}

<h2>Liste der Messwerte/Detailansichten</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
@using (Html.BeginForm("Index", "Messwert", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Messwert)
        <br />
        <select name="messwerttyp">
          @{
            <option value=@null></option>
            int tmp = 0;
            foreach (var item in Model)
            {
              if (tmp != @item.MesswerttypenId)
              {
                <option value=@item.MesswerttypenId>@item.Messwerttypen.Messwerttypname</option> 
              }
            
              tmp = @item.MesswerttypenId;
            }
          }
        </select>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Sensorname)
        <br />
        <input type="text" name="sensorname">
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Datum)
        <br />
        <input type="date" name="datumVon" />
      </th>
      <th>
        <br />
        <input type="time" name="zeitVon" />
      </th>
      <th>
        Datum bis:
        <br />
        <input type="date" name="datumBis" />
      </th>
      <th>
        <br />
        <input type="time" name="zeitBis" />
      </th>
      <th>
        Messwert von:
        <br />
        <input type="text" name="messwertVon" />
      </th>
      <th>
        Messwert bis:
        <input type="text" name="messwertBis" />
      </th>
      <th>
        <br />
        <input type="submit" name="filter" value="Filtern" />
      </th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Messwerttypen.Messwerttypname)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Sensorname)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Messwert)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
          @Html.ActionLink("Details", "Details", new { id = item.Id }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
      </tr>
    }

  </table>

}
