﻿@model IEnumerable<MesswertVerwaltung.Models.Messwerte>

@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Messwerte</h1>
</div>

<div class="row">
  <h3>Neueste Messwerte:</h3>
  <div class="col-md-9">
  </div>
  @foreach (var item in Model)
  {
    <div class="col-md-9">
      <p>@String.Format("Messwerttyp: {0} | Sensorname: {1} | Timestamp: {2} | Messwert: {3}",item.Messwerttypen.Messwerttypname, item.Sensorname, item.Datum.ToString("dd.MM.yyyy hh:mm:ss.F"), item.Messwert)</p>
    </div>
  }
</div>

<br />

  @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  <table>
    <tr>
      <td>File:</td>
      <td><input type="file" name="UploadFile" id="UploadFile" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="submit" value="Upload"/></td>
    </tr>
  </table>
}