﻿<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--@Html.ActionLink("Anwendungsname", "Index", "Home", null, new { @class = "navbar-brand" })-->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
          <li>@Html.ActionLink("Liste der Messwerte/Detailansichten", "Index", "Messwert")</li>
          <li>@Html.ActionLink("Messwert Eintragen", "Create", "Messwert")</li>
          <li>@Html.ActionLink("Liste der Messwerttypen/Detailansichten", "Index", "Messwerttypen")</li>
          <li>@Html.ActionLink("Messwerttyp eintragen", "Create", "Messwerttypen")</li>
        </ul>
        @*@Html.Partial("_LoginPartial")*@
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Messwert Verwaltung</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
