﻿@model IEnumerable<MesswertVerwaltung.Models.Messwerttypen>

@{
    ViewBag.Title = "Index";
}

<h2>Messwerttypen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Messwerttypname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Messwerttypname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
