﻿@model MesswertVerwaltung.Models.ManageUserViewModel

<p class="text-info">
    Sie besitzen keinen lokalen Benutzernamen bzw. kein lokales Kennwort für diese Website. Fügen Sie ein lokales
    Konto hinzu, damit Sie sich ohne eine externe Anmeldung anmelden können.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Lokale Anmeldung erstellen</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kennwort festlegen" class="btn btn-default" />
        </div>
    </div>
}
