﻿@model MesswertVerwaltung.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrieren";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.LoginProvider-Konto zuordnen.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Zuordnungsformular</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        Sie haben sich erfolgreich authentifiziert mit <strong>@ViewBag.LoginProvider</strong>.
            Bitte geben Sie unten einen Benutzernamen für diese Website ein, und klicken Sie dann auf die Schaltfläche "Registrieren", um die Anmeldung
            fertigzustellen.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registrieren" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
